@* Упрощенный компонент-обертка для обратной совместимости *@
@* Использует новые модульные компоненты внутри *@

<HeadContent>
    <link href="/_content/ZealousMindedPeopleGeo/css/community-globe.css" rel="stylesheet" />
</HeadContent>

<div class="d-flex flex-column align-items-center gap-3 bg-black">
    <CommunityGlobeViewer GlobeId="@GlobeId" Width="@Width" Height="@Height" />
    
    @if (ShowControls)
    {
        <CommunityGlobeControls GlobeId="@GlobeId" />
    }
    
    @if (ShowParticipantManagement)
    {
        <CommunityGlobeParticipantManager GlobeId="@GlobeId" />
    }
    
    @if (ShowSettings)
    {
        <CommunityGlobeSettings GlobeId="@GlobeId" />
    }
</div>

@code {
    [Parameter] public string GlobeId { get; set; } = "default";
    [Parameter] public int Width { get; set; } = 800;
    [Parameter] public int Height { get; set; } = 600;
    [Parameter] public bool ShowControls { get; set; } = true;
    [Parameter] public bool ShowParticipantManagement { get; set; } = true;
    [Parameter] public bool ShowParticipantInfo { get; set; } = true;
    [Parameter] public bool ShowSettings { get; set; } = false;
}
